.SidebarHeaderNotifications-bell {
    margin:9px 10px 0px -5px;
    transition: .2s;
    font-size: 19px;
    color: #a09a9f;
    padding: 5px;
}

.SidebarHeaderNotifications-bell:hover {
    color: white;
}
